@model CookBook.PL.Models.RegisterViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.Login == true)
    {
        <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-lower">@CookBook.PL.Resources.InfoTexts.AlreadyRegistered, @HttpContext.Current.User.Identity.Name</span>
            </h2>
            <div>
                @using (Html.BeginForm(MVC.Authorization.Logoff(), FormMethod.Post))
                {
                    <button class="cupid-green-l">@CookBook.PL.Resources.ButtonNames.BtnLogOff</button>
                }
            </div>
        </div>
    }
    else
    {
        <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-lower">@CookBook.PL.Resources.InfoTexts.TextLogIn</span>
            </h2>
            @{Html.EnableClientValidation();}
            @{Html.EnableUnobtrusiveJavaScript();}
            @using (Html.BeginForm(MVC.Authorization.Login()))
            {
                @Html.ValidationSummary()
                <p>Username</p>
                @Html.EditorFor(x => x.Name)
                @Html.ValidationMessageFor(model => model.Name)
                <p>Password</p>
                @Html.EditorFor(x => x.Password)
                @Html.ValidationMessageFor(model => model.Password)
                <div>
                    <button class="cupid-green-l">@CookBook.PL.Resources.ButtonNames.BtnLogIn</button>
                </div>
                <div>
                    <div>@Html.ActionLink(@CookBook.PL.Resources.InfoTexts.LinkRegister, MVC.Authorization.Register())</div>
                </div>
            }
        </div>
    }
}

