@model CookBook.PL.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cta-inner text-center rounded">
    <h2 class="section-heading mb-4">
        <span class="section-heading-lower">@CookBook.PL.Resources.Names.Registration</span>
    </h2>
    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}
    @using (Html.BeginForm(MVC.Authorization.Register()))
    {
        @Html.ValidationSummary()
        <p>Username</p>
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(model => model.Name)
        <p>Password</p>
        @Html.EditorFor(x => x.Password)
        @Html.ValidationMessageFor(model => model.Password)
        <p>Confirm password</p>
        @Html.EditorFor(x => x.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        <div>
            <button class="cupid-green-l">@CookBook.PL.Resources.ButtonNames.BtnRegister</button>
        </div>
        <div>
            <div>@Html.ActionLink(@CookBook.PL.Resources.InfoTexts.LinkLog, MVC.Authorization.Login())</div>
        </div>
    }
</div>

