@model CookBook.PL.Models.CompositionViewModel

<h2 class="section-heading mb-4">
    <span class="section-heading-lower">Добавление ингредиента</span>
</h2>
@using (Html.BeginForm("AddExistComposition", "Recipe"))
{
    <div class="container">
        <div class="row">
            @Html.HiddenFor(model => model.RecipeId)
            <div class="col-3">
                <p>Введите название ингредиента</p>
                @Html.DropDownListFor(model => model.IngredientId,null, new { @class = "form-control" })
            </div>
            
            <div class="col-3">
                <p>Введите количество</p>
                @Html.TextBoxFor(model => model.Quantity, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
            <div class="col-3">
                <button class="cupid-green">Добавить</button>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("AddNewComposition", "Recipe"))
{
    <div class="container">
        <div class="row">
            @Html.HiddenFor(model => model.RecipeId)
            <div class="col-3">
                <p>Введите название ингредиента</p>
                @Html.TextBoxFor(model => model.IngredientName, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IngredientName)
            </div>
            <div class="col-3">
                <p>Введите количество</p>
                @Html.TextBoxFor(x=>x.Quantity, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
            <div class="col-3">
                <button class="cupid-green">Добавить</button>
            </div>
        </div>
    </div>
}
