@model CookBook.PL.Models.RecipeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model.Composition,
        defaultSort: "Name",
        rowsPerPage: 5);
    grid.Pager(WebGridPagerModes.All);
}


<h2 class="section-heading mb-4">
    <span class="section-heading-lower">Редактирование рецепта</span>
</h2>
@grid.GetHtml(
         tableStyle: "table table-bordered",
         headerStyle: "webgrid-header",
         footerStyle: "webgrid-footer",
         alternatingRowStyle: "webgrid-alternating-row",
         rowStyle: "webgrid-row-style",
         columns: grid.Columns(
         grid.Column(format: @<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
grid.Column(columnName: "IngredientName", header: "Название", canSort: false),
grid.Column(columnName: "Quantity", header: "Количество", canSort: false)))

<h2 class="section-heading mb-4">
    <span class="section-heading-lower">Добавление ингредиента</span>
</h2>
@using (Html.BeginForm("AddExistComposition", "Recipe"))
{
    <div class="container">
        <div class="row">
            @Html.Hidden("RecipeId", Model.Id)
            <div class="col-3">
                <p>Введите название ингредиента</p>
                @Html.DropDownList("IngredientId", null, new { @class = "form-control" })
            </div>
            <div class="col-3">
                <p>Введите количество</p>
                @Html.TextBox("Quantity", null, new { @class = "form-control" })
            </div>
            <div class="col-3">
                <button class="cupid-green">Добавить</button>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("AddNewComposition", "Recipe"))
{
    <div class="container">
        <div class="row">
            @Html.Hidden("RecipeId", Model.Id)
            <div class="col-3">
                <p>Введите название ингредиента</p>
                @Html.TextBox("IngredientName", null, new { @class = "form-control" })
            </div>
            <div class="col-3">
                <p>Введите количество</p>
                @Html.TextBox("Quantity", null, new { @class = "form-control" })
            </div>
            <div class="col-3">
                <button class="cupid-green">Добавить</button>
            </div>
        </div>
    </div>
}
