@using CookBook.PL.Helpers
@model CookBook.PL.Models.IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listing";
}

<h2 class="section-heading mb-4">
    <span class="section-heading-lower">@CookBook.PL.Resources.NavBarNames.NavRecipeList</span>
</h2>

<style>
    .divTable {
        display: table;
        width: 100%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        border: 1px solid #EEE;
        display: table-cell;
        padding: 3px 10px;
    }

    .divTableHeading {
        display: table-header-group;
        text-align: left;
        color: #e6a756;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
    }

    .divTableBody {
        display: table-row-group;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
    }
</style>
<div class="divTable">
    <div class="divTableHeading">
        <div class="divTableCell">
            <p>Index</p>
        </div>
        <div class="divTableCell">
            <span onclick='sortTable("emp_name");'>Name</span>
        </div>
        <div class="divTableCell">
            <p>Author</p>
        </div>
        <div class="divTableCell">
            <p>Category</p>
        </div>
        @if (User.IsInRole("User") || User.IsInRole("Admin"))
        {
            <div class="divTableCell">
            </div>
        }

    </div>

    @{ int index = 1; }
    @foreach (var model in Model.Recipes)
    {

        <div class="divTableRow">
            <div class="divTableCell">
                <p>@(index++)</p>
            </div>
            <div class="divTableCell">
                <p>@Html.DisplayFor(modelItem => model.Name)</p>
            </div>
            <div class="divTableCell">
                <p>@Html.DisplayFor(modelItem => model.User.Login)</p>
            </div>
            <div class="divTableCell">
                <p>@Html.DisplayFor(modelItem => model.Category)</p>
            </div>
            @if (User.IsInRole("User") || User.IsInRole("Admin"))
            {
                <div class="divTableCell">
                    @Html.ActionLink(@CookBook.PL.Resources.ButtonNames.BtnEdit, MVC.Recipe.EditRecipe()
                                                           .AddRouteValues(new { id = model.Id })) |
                    @Html.ActionLink(@CookBook.PL.Resources.ButtonNames.BtnDelete, MVC.Recipe.DeleteRecipe()
                                                           .AddRouteValues(new { id = model.Id }))
                </div>
            }
        </div>
    }
</div>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("ViewRecipeList", new { page = x }))
</div>